.box {
  max-width: 600px;
  width: 100%;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeArea {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.btnSend {
  align-self: flex-end;
  margin-top: 20px;
  padding: 8px 24px;
  border-radius: 10px;
  border: none;
  background: #3CF6F6;
}

.messageArea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  background: #FAF7E6;
}

.message {
  display: flex;
}

.messageDesc {
  margin-left: 30px;
  border: 1px solid #3CF6F6;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #D8F1F1;
}

.time {
  align-self: flex-end;
  font-size: 12px;
  color: #999;
}