.box {
  max-width: 900px;
  width: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #f60;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}